/* prompts */

.prompts {
    display: flex;
    flex-direction: row;
    height: calc(100% - 35px);
}

.prompts .prompts-history {
    min-width: 192px;
    max-width: 192px;
    overflow-y: hidden;
}

.prompts .prompts-gpt {
    width: 100%;
}

@media screen and (max-width: 551px) {
    .prompts .prompts-history {
        display: none;
    }
}