.history {    
    height: 100%;
}

.history #actions {
    padding-top:10px;
}

.history #list {
    height: calc(100vh - 220px);
    overflow-y: auto;
    overflow-x:hidden;
}
.history>div:nth-child(2) button {
    margin: 0;
}

.history button {
    max-width: 150px;
    min-width: 150px;
}

.history .history-item {
    /* reset */
    text-align: left;
    padding: 1rem;
    height: auto;
    border: 1px solid #D1D1D1;
    text-transform: none;
    
}

.history .history-item p {
    /* reset */
    margin: 0 !important;
    line-height: normal !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.history .history-item p:first-child {
    font-weight: 700;
}

.history .history-item:not(:last-child) {
    margin-bottom: 1rem;
}

.history .history-item:hover {
    border: 1px solid rgb(193, 193, 193);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(184, 180, 184, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(184, 180, 184, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(184, 180, 184, 0.2);
}