.results {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}

.results .results-editor {
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    height: calc(100vh - 383px);
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem 0;
}

.results .select {
    width: 180px;
}