.shell {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-bar {
    border-bottom: 1px solid rgb(193, 193, 193);
    height: 30px;
    line-height: 30px;
    color: black;
    padding: 2px 12px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(184, 180, 184, 0.4);
    -moz-box-shadow: 0px 0px 8px 0px rgba(184, 180, 184, 0.4);
    box-shadow: 0px 0px 8px 0px rgba(184, 180, 184, 0.4);
}

.app-bar a {
    text-decoration: none;
}

.app {
    display: flex;
    flex-direction: row;
    height: 100%;
    height: calc(100% - 35px);
}


/* panel */

.panel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.panel .panel-header {
    height: 48px;
    flex-shrink: 0;
    margin: 0 0 0.5rem 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel .panel-content {
    flex-grow: 1;
}

.panel-history {
    min-width: 192px;
    max-width: 192px;
    overflow-y: auto;
}

@media screen and (max-width: 551px) {
    .panel-history {
        display: none;
    }

    .panel-gpt .panel-header .btn-bar .select {
        width: 200px;
    }
}

.panel-gpt {
    width: 100%;
    overflow-y: auto;
}

.panel-gpt .panel-header {
    justify-content: space-between;
}

.panel .panel-content-inner {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    height: calc(100% - 10px);
}

.panel .panel-header .btn-bar button {
    margin-bottom: 0;
    margin-right: 0.75rem;
}

.panel .panel-header .btn-bar {
    display: flex;
    align-items: center;
}

/* FINE TUNES */

.ft {
    padding: 0 1rem 1rem 1rem;
    height: calc(100% - 46px);
}

.ft-jsol-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ft .ft-jsol-data textarea {
    width: 100%;
    height: 100%;
    resize: none;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
    font-size: 1.1rem;
}

.ft .ft-fine-tunes {
    display: flex;
    width: 100%;
    height: calc(100% - 130px);
}

.ft .ft-fine-tunes>div {
    height: calc(100% - 50px);
    width: 100%;
}

.ft .ft-fine-tunes textarea {
    height: 100%;
    width: 100%;
    resize: none;
    font-size: 1.1rem;
}

.ft .select {
    width: 100%;
}

.ft .select-list {
    width: 100%;
    height: 100%;
}

.ft button {
    width: 100%;
    margin-bottom: 0;
}

.ft label {
    margin: 0;
}